extends layout

block content
    div(class="game")
        h1= title
        div(class="background")
            img(src="/brand/TdA_Logo/PNG/Think-different-Academy_LOGO_erb.png",alt="Obrázek uprostřed",class="center-image")
    
    