extends layout

block content
  h1 Vítejte
  p=requipment
  p
  b Think different Academy 
  | je organizace zabývající se volnočasovými a vzdělávacími aktivitami pro děti a mládež.
  p Kromě našich skvělých prezenčních aktivit a publikací do časopisů s logickými úlohami se chceme zkusit znovu rozšířit i do online prostoru. 
  p Toto je platforma, díky které si budou moci mladí lidé potrénovat své logické a taktické myšlení na piškvorkových úlohách.
  //-script(src="/postParams.js") 