doctype html
html
  head
    title #{title} | TdA
    link(rel='stylesheet', href='/stylesheets/style.css?v=7.04')
    link(rel="shortcut icon", href="/brand/TdA_Logo/SVG/TdA_LOGO_erb.svg", type="image/x-icon")
    script(src="https://cdn.socket.io/4.8.1/socket.io.min.js")

  body
    header
      nav.menu
        ul
          li.logo
            img(src="/brand/TdA_Logo/SVG/TdA_LOGO_oficialni-bile.svg", width="100", height="30", alt="") 
          li
            a.odkazy(href="/",data-tippy-content="<p>Zpět na hlavní stránku</p>") Úvod
          if logged
            li
              a.odkazy(href="/profile",data-tippy-content="Jsi přihlášen/á! Uprav si údaje profilu!")
                img(src=`${userData.profilePhoto}`, alt="", width="20", height="20")
                | #{logged.name}
            if userData.admin && userData.admin == 1
              li
                a.odkazy(href="/users", data-tippy-content="Tvůj účet má administrátorská práva! S těmito právy si můžeš zobrazit seznam registrovaných uživatel a dělat v něm změny (blokovat/odblokovávat ostatní uživatele a podobně). Užívej těchto funkcí s rozumem ;)") Správa uživatel
            li
              a.odkazy(href="/stats", data-tippy-content="Podívej se na statistiky, jak si tvůj profil vede mezi ostatními!") Statistiky
            li
              a.odkazy(href="/play",data-tippy-content="Zahraj si Piškvorky!") Hrát 
            li
              a.odkazy(href="/logout",data-tippy-content="Odhlásit se") Odhlásit se
            
           
          else
            li
              a.odkazy(href="/login", data-tippy-content="<p>Přihlásit se do aplikace, nebo vytvořit nový účet </p>") Přihlásit se
            li
              a.odkazy(href="/game", data-tippy-content="<p>Nechceš se přihlašovat? V režimu hosta můžeš vyzkoušet jak aplikace funguje.</p>") Režim hosta
          
      br
      form#form.form(name="arg")
        label(for="name") Název hry: &nbsp;
        input(type="text", name="name1", placeholder="Hráč 1")
        p vs
        input(type="text", name="name2", placeholder="Hráč 2")
        br
        br
        label(for="diff") 
          b Obtížnost: &nbsp;
        select(name="diffic")
          option(value="1") Začátečník
          option(value="2") Snadná
          option(value="3") Střední
          option(value="4") Těžká
          option(value="5") Extrémně těžká
        br   
        br
        button(type="button", onclick="newGame()",data-tippy-content="Pokud nevyplníš nic, automaticky se nastaví obtížnost začátečník a jména hráčů hráč 1 a hráč 2. Později to půjde změnit na stránce hry.") Vytvořit
        br
        br
    br
    br
    main
      block content
    br
    br
    footer
      .footer
        .social_links
          a.social_icon(href="https://www.facebook.com/tourdeapp/")
            img(src="/ikonyMimoBrand/facebook-icon.png", width="40px", height="40px", alt="Facebook", data-tippy-content="Facebook profil Tour de App")
          a.social_icon(href="https://www.youtube.com/@StudentCyberGames")
            img(src="/ikonyMimoBrand/twitter-neexistuje-xD-icon.png", width="50px", height="50px", alt="Youtube",  data-tippy-content="YouTube kanál Students Cyber Games")
          a.social_icon(href="https://instagram.com/tourdeapp")
            img(src="/ikonyMimoBrand/ig.png", width="50px", height="50px", alt="Instagram",  data-tippy-content="Instagramový profil Tour de App")
          a.social_icon(href="https://www.skolaac.cz")
            img(src="/ikonyMimoBrand/logoschool.png", width="60", height="50", alt="Citrak Bozako JMK", data-tippy-content="Stránky naší školy") 
          a.social_icon(href="https://tourde.app")
            img.tda(src="/ikonyMimoBrand/tda.png", width="50", height="50", alt="Tour de App", data-tippy-content="Stránky soutěže Tour de App")
          a.social_icon(href="/experiments")
            img.tda(src="/ikonyMimoBrand/tdaEx.png", width="50", height="50", alt="Tour de App", data-tippy-content="Nedokončené funkce a experimenty") 
          a.social_icon(target="_blank" href="https://icons8.com")
             img.tda(src="/ikonyMimoBrand/logo-icons8.svg", width="50px", height="50px", alt="Instagram",  data-tippy-content="Ikony použité v aplikaci byly zdarma staženy z webu Icons8")
        .footer_text
          | Think different Academy by citrakGuys 2024 - projekt vytvořen v soutěži TdA25
    script(src="/postParams.js")
    script(src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js")
    script(src="https://unpkg.com/tippy.js@6.3.1/dist/tippy-bundle.umd.min.js")
    
    script.
      tippy('[data-tippy-content]', {
              allowHTML: true,
            })
