doctype html
html
  head
    title #{title} | TdA
    link(rel='stylesheet', href='/stylesheets/style.css?v=1.95')
    link(rel="shortcut icon", href="/brand/TdA_Logo/SVG/Think-different-Academy_LOGO_erb.svg", type="image/x-icon")
  body
    header
    img(src="/brand/TdA_Logo/PNG/TdA_LOGO_oficialni-cerne.png", alt="")
    block content
