*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --cervena: #E31837;
  --modra: #0070BB;
  --gradient: linear-gradient(9deg, var(--cervena) 27%, var(--modra) 65%)
}

@font-face {
  font-family: "Dosis";
  src: url("/brand/TdA_Fonty/Dosis-VariableFont_wght.ttf");
}

body {
  font-family: 'Dosis', sans-serif; /* nebo jakýkoliv fallback font */
  text-align: center;
  font-weight: bold;
  background-color:var(--modra);
  background-image: url("/brand/TdA_Logo/PNG/Think-different-Academy_LOGO_cerny.png");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: center;
  color:white;


}

a {
  text-decoration: none;
 background: transparent;
  color:white;
  padding: 10px;
  border-radius: 10px;
transition: background 0.5s ease; 
}

a:hover{
background: var(--gradient);
}

ul li{
  list-style-type: none;
  margin: 30px;
}

.piskvorky {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  gap: 2px;
  margin: 0 auto;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}


.container{
display: grid;
grid-template-columns: repeat(3, 1fr);
}

.column{
  margin: 10px;
}

.game{
  background-color: var(--cervena);
  padding: 10px;
  border-radius: 10px;
}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 15;
  margin-bottom: 10px;
  position: relative;
  }
  
  .menu ul {
  display: flex;
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
  }
  
  .menu ul li {
  margin: 0 20px;
  }
  
  .menu ul li a {
  text-decoration: none;
  color: white;
  }

input{
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

input[type="submit"]:hover{
  background:var(--gradient);
  transition:2s all;
}

select{
  background: transparent;
  border: none;
  color: white;
  transition: all;
  border-radius: 10px;
}

option{
  background-color: #E31837;
  border-radius: 10px;
  border: none;
}
