*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --cervena: #E31837;
  --modra: #0070BB;
  --gradient: linear-gradient(45deg, #8B0000, #003366);
  --straight-gradient: linear-gradient(to right, var(--cervena) 50%, var(--modra) 50%);
  --bg-radial-gradient: radial-gradient(circle, #8B0000 0%, #5A005A 50%, #003366 100%);
  --elementsBg200: url("/brand/TdAelementsBg200.png");
  --elementsBg355: url("/brand/TdAelementsBg355.png");
  --elementsBg1072: url("/brand/boardBGfixed.png");
}

@font-face {
  font-family: "Dosis";
  src: url("/brand/TdA_Fonty/Dosis-VariableFont_wght.ttf");
}

body {
  font-family: 'Dosis', sans-serif; /* nebo jakýkoliv fallback font */
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  background: radial-gradient(circle, #8B0000 0%, #5A005A 50%, #003366 100%);


  color:white;
  /* margin: 20px; */
  /*padding: 20px;*/
}



/*main{
  
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  padding: 20px; 
  color: #fff; 
}*/

/* header{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  padding: 20px; 
  color: #fff; 
  
} */


.form{
background: var(--bg-radial-gradient);
border-radius: 10px;
padding: 10px;

background-size: contain;
background-repeat: no-repeat;

border: 0.5px solid white;

}

a {
  text-decoration: none;
 background: transparent;
  color:white;
  padding: 10px;
  border-radius: 10px;
transition: background 0.5s ease; 
}

.odkazy:hover{
background: var(--gradient);
}


.piskvorky {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  gap: 2px;
  margin: 0 auto;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}


.container{
display: grid;
grid-template-columns: repeat(3, 1fr);
}

.column{
  margin: 10px;
}

.savedGames{
  background: radial-gradient(circle, #E31837, #A01464, #5B0F86, #0070BB);
  padding: 10px;
  border-radius: 10px;
  width: 348.54546545415213453541352px;
  height: 330px;
  border: 0.5px solid white; 
}

.board{
  background: radial-gradient(circle, #8B0000 0%, #5A005A 50%, #003366 100%);
}

.game_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: radial-gradient(circle, #8B0000 0%, #5A005A 50%, #003366 100%);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  border: 0.5px solid white;
}


.menu {
  display: flex;
  align-items: center;
  background: radial-gradient(circle, #8B0000 0%, #5A005A 50%, #003366 100%);
  padding: 0;
  border-bottom: 0.5px solid white;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
}

.menu ul li.logo {
  background-color: rgba(10, 10, 30, 0.8);
  padding: 10px 20px; /* upraveno */
  margin: 0;
  display: flex;
  align-items: center;
}

.menu ul li.logo img {
  display: block;
  width: 100px;
  height: 30px;
}

.menu ul li {
  margin: 0 20px;
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  border-radius: none;
}

menu ul li a:hover{
background: var(--gradient);
}


input{
  background: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

input[type="submit"]:hover{
  background:var(--gradient);
  transition:2s all;
}

button{
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

button:hover{
  background:var(--gradient);
  transition:2s all;
}

select{
  background: transparent;
  border: none;
  color: white;
  transition: all;
  border-radius: 10px;
}

option{
  background-color: #E31837;
  border-radius: 10px;
  border: none;
}

.game_board {
  display: grid;
  grid-template-columns: repeat(15, 1fr); /* 15 sloupců */
  gap: 1px; /* mezera mezi buňkami */
}

.row {
  display: contents; /* Pro zarovnání řádků do mřížky */
}

.cell {
  
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 2px;
  border-radius: 10px;
  color: black;
  
  /* Vertikální zarovnání textu */
}

.twoContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.columnInT{
  margin: 10px;
}

/* .footer {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  padding: 20px; 
  color: #fff; 
  border-radius: 10px;
  
  
} */
 .footer{
  padding: 10px;
 }

.social_links {
  margin-bottom: 10px;
  border-radius: 10px;
}

.social_icon {
  display: inline-block;
  margin: 0 10px;
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

.footer_text {
  font-size: 0.8rem;
  margin-top: 10px;
  color: white;
} 

img{
  border-radius: 10px;
}

.tda{
  border-radius: 50px;
}

 /* Styl pro modal pozadí */
 .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Překrytí pozadí */
  justify-content: center;
  align-items: center;
  overflow: auto; /* Přidáme scrollování při přesahu */
  padding: 20px; /* Malý prostor kolem modalu */
}

.modal-content {
  background-color: #000000;
  max-width: 600px; /* Nastavíme maximální šířku */
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow-y: auto; /* Svislé scrollování při přesahu obsahu */
  max-height: 90vh; /* Zabráníme, aby modal přesáhl výšku obrazovky */
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: white;
  border-radius: 0 10px 10px 0;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #000000; /* Modrá barva */
  border-radius: 0 10px 10px 0;
}


/* Zavírací tlačítko */
.close-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.next-btn {
  background-color: yellowgreen;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}


.close-btn:hover {
  background-color: darkred;
}
